[submodule "baselines/openpi"]
	path = baselines/openpi
	url = https://github.com/wensi-ai/openpi.git
	branch = behavior
[submodule "baselines/il_lib"]
	path = baselines/il_lib
	url = https://github.com/liujiahao2077/il_lib.git
	branch = main
[submodule "baselines/openvla-oft"]
	path = baselines/openvla-oft
	url = https://github.com/evansh666/openvla-oft.git
	branch = main
